In [2]:
import pandas as pd
import numpy as np

#load raw data file
df = pd.read_csv('/mnt/home/tranha1/research/cbcclab/git_repos/experiments/Tran25longitudinal.git/CognitionData/2016Cognition.csv')
df.head()
#Create a new data frame with the selected columns
#16
new_df = df[['PD104',   
 'PD182M1', 'PD182M2',
 'PD182M3', 'PD182M4', 
 'PD182M5', 'PD182M6',
 'PD182M7', 'PD182M8', 
 'PD182M9', 'PD182M10', 'PD182M11',
 'PD182M12', 'PD182M13', 'PD182M14',
 'PD182M15', 'PD182M16',
  'PD182M17', 'PD182M18']]
new_df.head()  #Print out the first few rows to check 
#18

/tmp/ipykernel_1929317/4173228948.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/mnt/home/tranha1/research/cbcclab/git_repos/experiments/Tran25longitudinal.git/CognitionData/2016Cognition.csv')

,PD104,PD182M1,PD182M2,PD182M3,PD182M4,PD182M5,PD182M6,PD182M7,PD182M8,PD182M9,PD182M10,PD182M11,PD182M12,PD182M13,PD182M14,PD182M15,PD182M16,PD182M17,PD182M18
0,11,17,12,11,13,18,,,,,,,,,,,,,
1,1,1,6,2,7,5,51,,,,,,,,,,,,
2,11,19,16,15,18,11,12,14,51,,,,,,,,,,
3,11,16,19,14,11,12,51,,,,,,,,,,,,
4,1,4,8,10,2,3,9,6,,,,,,,,,,,

In [3]:



word_map = {            
    1: "BOOK", 2: "CHILD", 3: "GOLD", 4: "HOTEL", 5: "KING", 6: "MARKET", 7: "PAPER", 8: "RIVER", 9: "SKIN", 10: "TREE",
    11: "BUTTER", 12: "COLLEGE", 13: "DOLLAR", 14: "EARTH", 15: "FLAG", 16: "HOME", 17: "MACHINE", 18: "OCEAN", 19: "SKY", 20: "WIFE",
    21: "BLOOD", 22: "CORNER", 23: "ENGINE", 24: "GIRL", 25: "HOUSE", 26: "LETTER", 27: "ROCK", 28: "SHOES", 29: "VALLEY", 30: "WOMAN",
    31: "BABY", 32: "CHURCH", 33: "DOCTOR", 34: "FIRE", 35: "GARDEN", 36: "PALACE", 37: "SEA", 38: "TABLE", 39: "VILLAGE", 40: "WATER"
}

# Define the word lists
list1 = ["BOOK", "CHILD", "GOLD", "HOTEL", "KING", "MARKET", "PAPER", "RIVER", "SKIN", "TREE"]
list11 = ["BUTTER", "COLLEGE", "DOLLAR", "EARTH", "FLAG", "HOME", "MACHINE", "OCEAN", "SKY", "WIFE"]
list21 = ["BLOOD", "CORNER", "ENGINE", "GIRL", "HOUSE", "LETTER", "ROCK", "SHOES", "VALLEY", "WOMAN"]
list31 = ["BABY", "CHURCH", "DOCTOR", "FIRE", "GARDEN", "PALACE", "SEA", "TABLE", "VILLAGE", "WATER"]

def process_column(series):
    result = []
    for num in series:
        num_str = str(num).strip()

        if not num_str:
            result.append(0)
            continue

        try:
            number = int(num_str)
        except ValueError:
            result.append(0)
            continue

        if number not in range(1, 41):
            result.append(0)
            continue

        word = word_map.get(number)

        if number in range(1, 11):
            if word in list1:
                index = list1.index(word) + 1
                result.append(index)
            else:
                result.append(-1)
        elif number in range(11, 21):
            if word in list11:
                index = list11.index(word) + 1
                result.append(index)
            else:
                result.append(-1)
        elif number in range(21, 31):
            if word in list21:
                index = list21.index(word) + 1
                result.append(index)
            else:
                result.append(-1)
        elif number in range(31, 41):
            if word in list31:
                index = list31.index(word) + 1
                result.append(index)
            else:
                result.append(-1)
    return result



# List of columns to process
columns_to_process = [f"PD182M{i}" for i in range(1, 19)]

processed_columns = {}

# Loop through each column, apply the function, and store the result
for col in columns_to_process:
    processed_data = process_column(new_df[col])
    processed_columns[col] = processed_data

new_result_df = pd.DataFrame(processed_columns)

new_result_df.head(10)

,PD182M1,PD182M2,PD182M3,PD182M4,PD182M5,PD182M6,PD182M7,PD182M8,PD182M9,PD182M10,PD182M11,PD182M12,PD182M13,PD182M14,PD182M15,PD182M16,PD182M17,PD182M18
0,7,2,1,3,8,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,6,2,7,5,0,0,0,0,0,0,0,0,0,0,0,0,0
2,9,6,5,8,1,2,4,0,0,0,0,0,0,0,0,0,0,0
3,6,9,4,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0
4,4,8,10,2,3,9,6,0,0,0,0,0,0,0,0,0,0,0
5,8,1,7,10,2,4,0,0,0,0,0,0,0,0,0,0,0,0
6,9,8,1,4,2,5,0,0,0,0,0,0,0,0,0,0,0,0
7,4,8,1,6,2,10,0,0,0,0,0,0,0,0,0,0,0,0
8,10,3,7,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,9,1,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0